name: Test and Release

# Run this job on all pushes and pull requests
# as well as tags with a semantic version
on:
  push:
    branches:
      - "main"
    tags:
      # normal versions
      - "v[0-9]+.[0-9]+.[0-9]+"
      # pre-releases
      - "v[0-9]+.[0-9]+.[0-9]+-**"
  pull_request: {}

# Cancel previous PR/branch runs when a new commit is pushed
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  # Performs quick checks before the expensive test runs
  check-and-lint:
    if: contains(github.event.head_commit.message, '[skip ci]') == false

    runs-on: ubuntu-latest

    steps:
      - uses: ioBroker/testing-action-check@v1
        with:
          node-version: "20.x"
          lint: true

  adapter-tests:
    needs: [check-and-lint]

    if: contains(github.event.head_commit.message, '[skip ci]') == false

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x]
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: ioBroker/testing-action-adapter@v1
        with:
          node-version: ${{ matrix.node-version }}
          os: ${{ matrix.os }}

  deploy:
     needs: [check-and-lint, adapter-tests]
  
     if: |
       contains(github.event.head_commit.message, '[skip ci]') == false &&
       github.event_name == 'push' &&
       startsWith(github.ref, 'refs/tags/v')
  
     runs-on: ubuntu-latest
     # Write permissions are required to create Github releases
     permissions:
       contents: write
       id-token: write
  
     steps:
       - uses: ioBroker/testing-action-deploy@v1
         with:
           node-version: '20.x'
           #npm-token: ${{ secrets.NPM_TOKEN }}
           github-token: ${{ secrets.GITHUB_TOKEN }}
           sentry-token: ${{ secrets.SENTRY_AUTH_TOKEN }}
           sentry-project: "iobroker-refoss"
           sentry-version-prefix: "iobroker.refoss"

  publish:
    runs-on: ubuntu-latest
    # 必须在job级别设置permissions，且id-token为write
    permissions:
      id-token: write   # OIDC认证核心权限（必填）
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4  # 必须v4+（v3及以下OIDC支持不全）
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/ # 必须是官方registry

      - name: Install dependencies
        run: npm ci
      - name: Publish to npm
        run: npm publish --provenance --access public # 首次发布必须加--access public